<a href="https://colab.research.google.com/github/sailajarani/pyhton/blob/main/python_practice_w3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

\n for next line where as \t for tab space

In [ ]:
print( "Twinkle, twinkle, little star, \n\t\tHow I wonder what you are! Up above the world so high, Like a diamond in the sky. \n\tTwinkle, twinkle, little star, How I wonder what you are")

Twinkle, twinkle, little star,
		How I wonder what you are! Up above the world so high, Like a diamond in the sky.
	Twinkle, twinkle, little star, How I wonder what you are

to know python version

In [ ]:
import sys
sys.version

'3.6.9 (default, Oct  8 2020, 12:12:24) \n[GCC 8.4.0]'

external information of version

In [ ]:
sys.version_info

sys.version_info(major=3, minor=6, micro=9, releaselevel='final', serial=0)

to know the date

In [ ]:
import datetime
now = datetime.datetime.now()
date = datetime.datetime.today()
print(now)
print(date)
now

2021-02-08 14:27:25.551581
2021-02-08 14:27:25.551620

datetime.datetime(2021, 2, 8, 14, 27, 25, 551581)

to get specified format of date

In [ ]:
now.strftime('%y-%m-%d,%H:%M:%S')

'21-02-08,14:27:25'

In [ ]:
now.strftime('%Y-%m-%d,%H:%M:%S')

'2021-02-04,21:24:23'

area of circle with float input

In [ ]:
rad = float(input('enter radius'))
import math
pi = math.pi
area = pi*(rad*rad)
area

enter radius1.1

3.8013271108436504

take names print reverse and space between

In [ ]:
first = input('first name')
last = input('last name')
print(last+' '+first)

first nameslkdn
last nameckldsncl
ckldsncl slkdn

sequence of number to list and tuple

In [ ]:
num = input('enter the numbers')
num = num.split(',')
print(num)
lst = list(num)
print(lst)
print(tuple(num))

enter the numbers3,4,5
['3', '4', '5']
['3', '4', '5']
('3', '4', '5')

take filename and print extension of filename only

In [ ]:
file_name = "sae.csv"
file_name=file_name.split('.')
file_name[-1]

'csv'

to get start and end values in list

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0])
print(color_list[-1])
print(color_list[0:2])
print(color_list[-3:-1])
print(color_list[:-1])
print(color_list[:])

Red
Black
['Red', 'Green']
['Green', 'White']
['Red', 'Green', 'White']
['Red', 'Green', 'White', 'Black']

take date with ',' give in '/'

In [ ]:
date = (11,2,2011)
print('%i / %i / %i'%date)

11 / 2 / 2011

take a value and do n+nn+nnn

In [ ]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 45
459135

documantation of a function

In [ ]:
print(abs.__doc__)
#print(abs.__init__)
print(sum.__doc__)
#print(sum.__init__)

Return the absolute value of the argument.
<method-wrapper '__init__' of builtin_function_or_method object at 0x7faab8538630>
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.
<method-wrapper '__init__' of builtin_function_or_method object at 0x7faab85390d8>

about calender module

In [ ]:
import calendar
y = int(input('enter year'))
m = int(input('enter month'))
print('calender is',calendar.month(y,m))

enter year2012
enter month5
calender is       May 2012
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

difference between dates

In [ ]:
f_date = datetime.date(2014,7,8)
l_date = datetime.date(2014,9,4)
diff = l_date-f_date
print(diff.days)

58

In [ ]:
n = int(input('enter the number'))
diff = abs(n-17)
if diff > 17:
  print(2*diff)
else:
  print(diff)

enter the number6
11

Write a Python program to test whether a number is within 100 of 1000 or 2000

In [ ]:
def near_thousand(n):
      return ((abs(1000 - n) <= 100) | (abs(2000 - n) <= 100))    #we can use 'or' instead of '|'
print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(800))   
print(near_thousand(2200))

True
True
False
False

 Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged.

In [ ]:
str1 ='this your car?'
if str1[0:2] =='Is':
  print(str1)
else:
  print('Is',str1)

Is this your car?

 Write a Python program to get a string which is n (non-negative integer) copies of a given string

In [ ]:
def copies(str2,n):
  if n>0:
   for i in range(n):
     print(str2)
str2 ='fhfb'
copies(str2,4)
str3 ='hai'
copies(str3,8)
copies(str3,-4)

fhfb
fhfb
fhfb
fhfb
hai
hai
hai
hai
hai
hai
hai
hai

even or odd

In [ ]:
def even_odd(n):
  if n%2==0:
    print(str(n) +' is even number')
  else:
    print('Given ',n,' odd number')
num = int(input('enter a number'))
even_odd(num)

enter a number5
Given  5  odd number

Write a Python program to count the number 4 in a given list.

In [ ]:
def list_count_4(nums):
  count = 0  
  for num in nums:
    if num == 4:
      count = count + 1

  return count

print(list_count_4([1, 4, 6, 7, 4]))
print(list_count_4([1, 4, 6, 4, 7, 4]))

2
3

Write a Python program to get the n (non-negative integer) copies of the first 2 characters of a given string. Return the n copies of the whole string if the length is less than 2.

In [ ]:
def copies_str(str1,n):
  if len(str1)<2:
    for i in range(n):
      print(str1)
  else:
    for i in range(n):
      print(str1[0:2])
str12 = input('enter a sttring')
n = int(input('number enter: '))
#copies_str(str12,n)
str12[0]

enter a sttringghjlb
number enter: 9

'g'

Write a Python program to test whether a passed letter is a vowel or not

In [ ]:
def check(letter):
  vowels = ['a','e','i','o','u']
  if letter in vowels:
    print('letter is vowel')
  else:
    print('not vowels')
check('a')

letter is vowel

 Write a Python program to check whether a specified value is contained in a group of values

In [ ]:
def is_group_member(group_data, n):
    for value in group_data:
        if n == value:
            return True
    return False
print(is_group_member([1, 5, 8, 3], 3))
print(is_group_member([5, 8, 3], -1))

True
False

histogram

In [ ]:
def histogram( items ):
    for n in items:
        output = ''
        times = n
        while( times > 0 ):
          output += '*'
          times = times - 1
        print(output)

histogram([2, 3, 6, 5])

**
***
******
*****

Write a Python program to concatenate all elements in a list into a string and return it.

In [ ]:
def concat(list1):
  string = ' '
  for i in range(len(list1)):
    string += list1[i] + ' '
  return string
list1 = ['hai','my','name ','is','sailaja']
print(concat(list1))

 hai my name  is sailaja

In [ ]:
i = 'sailasa'
for j in i:
  print(j)

s
a
i
l
a
s
a

print even number in a list untill reach number 237

In [ ]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
for i in numbers:
  if i == 237:
    break
  if i%2==0:
    print(i)

Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2 and same color

In [ ]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
color_list_1

{'Black', 'Red', 'White'}

In [ ]:
def same(color_list_1,color_list_2):
 print('same color ')
 for i in color_list_1:
   if i in color_list_2:
    print(i)
def not_same(color_list_1,color_list_2):
  print('not same color ')
  for i in color_list_1:
    if i not in color_list_2:
      print(i)
same(color_list_1,color_list_2)
not_same(color_list_1,color_list_2)

same color
Red
not same color
White
Black

greatest common division (GCD)

In [ ]:
def gcd(x, y):
    gcd = 1
    
    if x % y == 0:
        return y
    
    for k in range(int(y/2), 0, -1):
        if x % k == 0 and y % k == 0:
            gcd = k
            break  
    return gcd

print(gcd(12, 17))
print(gcd(4, 6))

1
2

LCM

In [ ]:
def lcm(x, y):
   if x > y:
       z = x
   else:
       z = y

   while(True):
       if((z % x == 0) and (z % y == 0)):
           lcm = z
           break
       z += 1

   return lcm
print(lcm(4, 6))
print(lcm(15, 17))

12
255

Write a Python program to sum of three given integers. However, if two values are equal sum will be zero.

In [ ]:
def sum(x, y, z):
    if x == y or y == z or x==z:
        sum = 0
    else:
        sum = x + y + z
    return sum

print(sum(2, 1, 2))
print(sum(3, 2, 2))
print(sum(2, 2, 2))
print(sum(1, 2, 3))

0
0
0
6

 Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20

In [ ]:
def sum_of(x,y):
  z = x+y
  if 15 < z < 20:
    z = 20
  return z
sum_of(12,10)
sum_of(12,4)

20

Write a Python program that will return true if the two given integer values are equal or their sum or difference is 5.

In [ ]:
def fun(x,y):
  if x==y or x+y == 5 or x-y == 5:
    return True
  return False
fun(6,5)

False

Write a Python program to add two objects if both objects are an integer type

In [ ]:
x = '3'
y = 8
type(x)
try:
 if type(x) and type(y) == int:
  print(x+y)
except TypeError:
  print('not integer numbers')

not integer numbers

same problem above different approach below

In [ ]:
"""
def add_numbers(a, b):
    if not (isinstance(a, int) and isinstance(b, int)):
         raise TypeError("Inputs must be integers")
        
    return a + b

print(add_numbers(10, 20))
print(add_numbers('3',4)) """

'\ndef add_numbers(a, b):\n    if not (isinstance(a, int) and isinstance(b, int)):\n         raise TypeError("Inputs must be integers")\n        \n    return a + b\n\nprint(add_numbers(10, 20))\nprint(add_numbers(\'3\',4)) '

print name, age, address in different lines

In [ ]:
def personal_details():
    name, age = "Simon", 19
    address = "Bangalore, Karnataka, India"
    print("Name: {}\nAge: {}\nAddress: {}".format(name, age, address))

personal_details()

Name: Simon
Age: 19
Address: Bangalore, Karnataka, India

future_value

In [ ]:
amt = 10000
int = 3.5
years = 7

future_value  = amt*((1+(0.01*int)) ** years)
print(round(future_value,2))

12722.79

distance between two points

In [ ]:
import math
def distance(x1,y1,x2,y2):
  return math.sqrt(((x2-x1)**2)+((y2-y1)**2))
distance(4,5,4,3)

2.0

to check the file exists or not

In [ ]:
import os.path
open('abc.txt','w')
print(os.path.isfile('abc.txt'))
print(os.path.isfile('bank_data.csv'))

True
False

 For 32 bit it will return 32 and for 64 bit it will return 64

In [ ]:

import struct
print(struct.calcsize("P") * 8)

64

Write a Python program to get OS name, platform and release information.

In [ ]:
import platform
import os
print(os.name)
print(platform.system())
print(platform.release())

posix
Linux
4.19.112+

To get the site packages of python

In [ ]:
import site
print(site.getsitepackages())

['/usr/local/lib/python3.6/dist-packages', '/usr/lib/python3/dist-packages', '/usr/lib/python3.6/dist-packages']

Write a python program to call an external command in Python.

In [ ]:
from subprocess import call
call(["ls", "-l"])

0

Write a python program to get the path and name of the file that is currently executing

In [ ]:
import os
print("Current File Name : ",os.path.realpath('train_chatbot.txt'))

Current File Name :  /content/train_chatbot.txt

number of cpu

In [ ]:
import multiprocessing
print(multiprocessing.cpu_count())

2

Write a Python program to parse a string to Float or Integer

In [ ]:
n = '1123'
print(float(n))
#print(int(n))

1123.0

Write a Python program to print without newline or space

In [ ]:
for i in range(10):
  print('*',end ="")
print('\n')

**********